<body>

  <h1 class="text-light text-center pt-5 font1 elements">Bienvenue</h1>

  <div class="container">


    <div class="elements text-light">
      <p>
        Ideoque fertur neminem aliquando ob haec vel similia poenae addictum oblato de more elogio revocari iussisse, quod inexorabiles quoque principes factitarunt. et exitiale hoc vitium, quod in aliis non numquam intepescit, in illo aetatis progressu effervescebat, obstinatum eius propositum accendente adulatorum cohorte.

        Siquis enim militarium vel honoratorum aut nobilis inter suos rumore tenus esset insimulatus fovisse partes hostiles, iniecto onere catenarum in modum beluae trahebatur et inimico urgente vel nullo, quasi sufficiente hoc solo, quod nominatus esset aut delatus aut postulatus, capite vel multatione bonorum aut insulari solitudine damnabatur.
      </p>

    </div>

    <div class="elements mr-4">
      <img width="600vw" src="https://lh3.googleusercontent.com/proxy/K_jiS7slnoQR_39Ld0ym5VlKZidRdwi7o_lgob98EzB8pbWBb03KfZglKqk9pID-kC1OQF81m-Ug--MBLG3bs8iKzJVSK1Ka4-sfMYjYeRbMQEIif13OtAZSKOMNTzE4HN4kM-lYPibNipvPA50RbmM-Sw">
    </div>

  </div>

  <h4 class="text-light text-center mb-lg-5">Ou sommes-nous situés ?</h4>

  <div class="container2">

    <div class="elements2 ml-lg-5">
      <iframe class="shadow-lg rounded-lg" [width]="200" [height]="200" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3464.0991375389017!2d-1.5466803785730712!3d47.215826572912064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1588123464002!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>

    <div class="elements2 w-75">

      <p class="text-light">
        Ideoque fertur neminem aliquando ob haec vel similia poenae addictum oblato de more elogio revocari iussisse, quod inexorabiles quoque principes factitarunt. et exitiale hoc vitium, quod in aliis non numquam intepescit, in illo aetatis progressu effervescebat, obstinatum eius propositum accendente adulatorum cohorte.

        Siquis enim militarium vel honoratorum aut nobilis inter suos rumore tenus esset insimulatus fovisse partes hostiles, iniecto onere catenarum in modum beluae trahebatur et inimico urgente vel nullo, quasi sufficiente hoc solo, quod nominatus esset aut delatus aut postulatus, capite vel multatione bonorum aut insulari solitudine damnabatur.
      </p>
    </div>

  </div>

</body>
